<mat-card>
  <form class="pad" (ngSubmit)="onInsertIntoTable()" #form="ngForm">

    <h1 class="mat-display-2">{{ 'form.title' | translate }}</h1>
    <h2 class="mat-headline">
      {{ 'form.subtitle' | translate }}
    </h2>

    <mat-form-field>
      <input matInput
        [placeholder]="'form.input-number' | translate"
        type="number"
        class="example-right-align"
        name="amount"
        [(ngModel)]="amount"
        required>
      <mat-error>
        {{ 'form.input-error' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.select-currency' | translate }}</mat-label>
      <mat-select [(ngModel)]="select" name="select" required>
        <mat-option value="eur">EUR</mat-option>
        <mat-option value="czk">CZK</mat-option>
        <mat-option value="gbp">GBP</mat-option>
      </mat-select>
      <mat-error>
        {{ 'form.select-error' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="dollar-conversion-field">
      <label>
        {{ 'form.hint' | translate }} <span class="mat-body-strong">USD</span> <span
          class="converted-amount">{{ showConvertedAmount() }}</span>
      </label>
    </div>
    <div class="submit-field">
      <button mat-raised-button color="primary" [disabled]="!form.valid">
        {{ 'form.submit' | translate }}
      </button>
    </div>

  </form>
</mat-card>
