<mat-toolbar color="primary">
  <span>
    <a href="/">Exhange Rate Converter</a>
  </span>
  <ul class="navigation">
    <li>
      <a
        mat-button
        routerLink="/">
          Home
      </a>
    </li>
    <li>
      <a
        mat-button
        routerLink="/information">
          Information
      </a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul class="lang-choice">
    <li>
      <button
        mat-button>
          ENG
    </button>
    </li>
    <li>
      <button
        mat-button>
          CZE
    </button>
    </li>
  </ul>
</mat-toolbar>
