<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      {{ 'header.site-title' | translate }}
    </a>
  </span>
  <ul class="navigation">
    <li>
      <a
        mat-button
        routerLink="/">
        {{ 'header.navlink-home' | translate }}
      </a>
    </li>
    <li>
      <a
        mat-button
        routerLink="/information">
        {{ 'header.navlink-info' | translate }}
      </a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul class="lang-choice">
    <li>
      <button
        mat-button
        (click)="onLanguagePick('eng')">
          ENG
    </button>
    </li>
    <li>
      <button
        mat-button
        (click)="onLanguagePick('cze')">
          CZE
    </button>
    </li>
  </ul>
</mat-toolbar>
