ul {
  list-style: none;
  padding: 0 0 0 2rem;
  margin: 0;
}

li {
  display: inline-block;
}

ul.navigation li,
ul.lang-choice li {
  padding-right: 0.8rem;
}

ul.lang-choice li button,
ul.navigation li a {
  background-color: #30419e;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}
