mat-card .pad {
  padding: 2rem;
}

.mat-display-2 {
  margin: 0;
}

mat-list-item.mat-list-item {
  height: 35px;
}

mat-list-item a {
  color: #3f51b5;
  font-size: inherit;
  padding-left: 4px;
}

.mat-headline {
  margin-bottom: 20px;
}

.info-section {
  margin-top: 65px;
}

