<mat-card>
  <div class="pad">
    <h1 class="mat-display-2">
      {{ 'information.title' | translate }}
    </h1>

    <section class="info-section"
      *ngFor="let section of 'information.iterate-info' | translate">

      <h2 class="mat-headline">
        {{ section.title }}:
      </h2>

      <mat-list role="list" *ngFor="let content of section.items">
        <mat-list-item role="listitem">
          {{ content.item }}
        </mat-list-item>
      </mat-list>

    </section>

  </div>
</mat-card>
