<mat-card>
  <div class="pad">
    <h1 class="mat-display-2">
      {{ 'information.title' | translate }}
    </h1>

    <section class="info-section">
      <h2 class="mat-headline">
        {{ 'information.title-tech' | translate }}:
      </h2>
      <mat-list role="list" *ngFor="let tech of 'information.tech-items' | translate">
        <mat-list-item role="listitem">
          {{ tech.text }}
        </mat-list-item>
      </mat-list>
    </section>


    <section class="info-section">
      <h2 class="mat-headline">
        {{ 'information.title-updates' | translate }}:
      </h2>
      <mat-list role="list" *ngFor="let update of 'information.updates-items' | translate">
        <mat-list-item role="listitem">
          {{ update.text }}
        </mat-list-item>
      </mat-list>
    </section>

  </div>
</mat-card>
